@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #D9D9D9;
    --bg-header: #000000;
    --bg-button: #B81515;

    --text-main-color: #222222;
    --text-secondary-color: #FFFFFF;

    --hover: #8F0101;

    --icons: #8C8C8C;

    --font-main: 'Montserrat', sans-serif;

    --weight-regular: 400;
    --weight-header: 500;
    --weight-title: 700;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}